{% extends 'base.html.twig' %}

{% block title %}New DailyResult{% endblock %}

{% block body %}
    <h1>Create new DailyResult</h1>

    {{ include('daily_result/_form.html.twig') }}

    <a href="{{ path('app_daily_result_index') }}">back to list</a>
{% endblock %}
